# dependencies

.firebaserc

.node-version

node_modules

# public
public

# logs
npm-debug.log

firebase-debug.log

# Firebase cache
.firebase

#plugins
plugins

#config
config

nuxt.config.js


firestore.rules

firestore.indexes.json

database.rules.json

firebase.json
.node_vers
